body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

header {
width: 100%;
background: linear-gradient(to right, #1f1f1f, #530000, #000000);
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 30px;
box-sizing: border-box;


}

.header-content {
    text-align: center; 
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 auto;
}

.logoImg {
    width: 80px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

nav {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    color: #888888;
    text-decoration: none;
}

.fa-shopping-cart {
    font-size: 18px;
    color: #ffffff;
}
.fa-shopping-cart:hover {
    color: #888888;
}

main {
    margin: 0;
    padding: 20px;
    flex-direction: column;
}

.hero {
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col-md-3 {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    flex: 1 1 calc(25% - 50px);
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: 15px;
}


.cart {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.card-title {
    margin: 0;
    font-size: 20px;
}

.card-text {
    margin: 10px 0;
    font-size: 25px;
    color: green;
    font-weight: bold;
}

.btn {
    margin-top: auto;
    color: #fff;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer-container {
    background: linear-gradient(to right, #1f1f1f, #530000, #000000);
    color: white;
    padding: 10px 0;
    margin: flex;
    align-items: center;
    justify-content: space-around;
}