body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header-container, .footer-container {
    background: radial-gradient(ellipse, rgb(140, 0, 255), rgba(19, 0, 0, 0.986));
    color: white;
    padding: 10px;
    
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    
}

nav ul li a:hover {
    color: rgb(136, 136, 136);
    text-decoration: none;
}

.fa-shopping-cart {
    font-size: 18px;
    color: white;
}

main {
    margin: 0;
    padding: 0;
    height: 200px;
}

footer {

    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    margin: 0;
}

.cart {
    background-color: #fdfdfd;
    
    height: 100px;
    margin: 0;
    padding: 10px;
}






